.about {
    display: flex;
    gap: 70px;
    margin-top: 200px;
}

.about img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.about h2 {
    line-height: 40px;
    margin-bottom: 20px;
}

.about p {
    color: white;
    margin: 20px 0;
    text-align: justify;
    font-size: 20px;
}

.btn-social {
    display: flex;
    gap: 25px;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;

}

.btn-social button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #00ff08;
}