* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: black;
  height: 100vh;
  margin: 0 auto;
  padding: 40px 4%;
  /* max-width: 1280px; */
  overflow-x: hidden;

}

.specialties h2.title, .portfolio {
  text-align: center;
}

h2.title {
  color: white;
  font-size: 38px;

}

h2.title span {
  color: #00ff08;
}

@media (max-width: 1020px) {
  body {
  padding: 0 20px;
  }
}